@import url('https://fonts.googleapis.com/css?family=Monofett|Stint+Ultra+Expanded');

header {
    font-family: 'Monofett', cursive;
    color: teal;
    text-align: center;
    border: dotted teal 5px;
    border-radius: 50%;
    width: 750px ;
    height: 250px;
    margin: auto;
}
header>h1,header>h3 {
    margin: 0;
}
header>h1{
    font-size: 70px;
    padding-top: 35px;
}
header>h3{
    font-size: 40px;
    padding-bottom: 35px;
}

section#snacks, section#burgers, section#dishes, section#desserts {
    width: 50%;
    margin-top: 20px;
    margin-left: 550px;
}

p {
    font-family: 'Stint Ultra Expanded', cursive;
    font-size: 100%;
    font-weight: bold;
    display: inline-block;
}

.meal {
    text-align: left;
    width: 40%;
}
 .price {
     text-align: right;
     width: 40%;
 }

 h2{
     font-family: 'Monofett', cursive;
     font-size: 50px;
     text-align: center;
 }

#snacks {
     max-width: 75%;
     color:#ef5e5a
 }
#snacks>h2{
    color: #ef5e5a;
}

#burgers {
    max-width: 75%;
    color:olive;
}
#burgers>h2{
    color: olive;
}

#dishes {
    max-width: 75%;
    color:#E46629;
}
#dishes>h2{
    color: #E46629;
}

#desserts {
    color:#776576
}
#desserts>h2{
     color: #776576;
 }